<div class="login">
    <form name="login" action="/" method="post" onsubmit="return validateForm()">
        User Name: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Submit">
    </form>
</div>