<div class="login">
    <div class="login-area">
        <form name="login" action="/" method="post" onsubmit="return validateForm()">
            User Name: <input type="text" name="username" class="login-input"><br>
            Password: <input type="password" name="password" class="login-input"><br>
            <input type="submit" value="Submit" id="button" class="login-button"><br>
            <a href="/signup">Sign Up</a>
        </form>
    </div>
</div>

<script src="/js/loginConfirm.js"></script>