body {
  margin: 0;
}

.navbar {
  background-color: #cea71d;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  font-weight: bold;
}

.nav-left {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.nav-left form {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.nav-left form input{
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 15rem;
}

.nav-right {
  width: 10%;
}

.signup {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-area {
  background-color: #e0c666;
  padding: 2rem;
  border-radius: 2rem;
  height: auto;
  width: 33%;
}

.signup form {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-input {
  height: 2rem;
  width: 60%;
  margin: 1rem;
}

.signup-button {
  text-align: center;
  height: 2rem;
  width: 60%;
}

.login {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-area {
  background-color: #e0c666;
  padding: 2rem;
  border-radius: 2rem;
  height: 50%;
  width: 33%;
}

.login form {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input {
  height: 2rem;
  width: 60%;
  margin: 1rem;
}

.login-button {
  text-align: center;
  height: 2rem;
  width: 60%;
}

.login a {
  margin-top: 1rem;
  color: white;
  text-decoration: none;
}
